.nodefault .panel-heading {
    padding: 10px 15px 0;
}

.nodefault .panel-heading {
	height: 40px;
}
.nodefault .panel-heading .col-xs-2{
	padding: 0px 4px;
	text-align: right;
}
.nodefault .panel-heading [data-toggle="dropdown"] {
	padding: 0px 5px;
}
.nodefault .panel-heading .dropdown-menu {
	min-width: 40px;
	text-align: left;
}

.nodefault .panel-heading .nav-tabs {
    border-bottom: medium none;
}

.nodefault .panel-heading .nav-tabs > li > a {
	padding: 4px 10px;
}
