.topmenu .nav.navbar-nav .glyphicon,
.topmenu .nav.navbar-nav .btnname{
	display: inline-block;
	text-align: center;
	vertical-align: middle;
}
.topmenu .nav.navbar-nav .glyphicon {
	margin-left: 4px;
}
.topmenu .nav.navbar-nav .btnname small {
	display: block;
	font-size: 9px;
	line-height: 0px;
	margin: 2px 0 0 0;
	
}
.topmenu .nav.navbar-nav .dropdown-menu .en {
	text-align: right;
	font-size: 9px;
}

.nodefault.panel .panel-heading {
	padding: 10px 15px 0;
}

.nodefault.panel .panel-heading {
	height: 40px;
}

.nodefault.panel .panel-heading .title {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.nodefault.panel .panel-heading .rightbtns {
	padding: 0px 4px;
	text-align: right;
}

.nodefault.panel .panel-heading [data-toggle="dropdown"] {
	padding: 0px 5px;
}

.nodefault.panel .panel-heading .dropdown-menu {
	min-width: 40px;
}

.nodefault.panel .panel-heading .nav-tabs {
	border-bottom: medium none;
}

.nodefault.panel .panel-heading .nav-tabs>li>a {
	padding: 4px 10px;
}

.nodefault.thumbnail {
	position: relative;
}
.nodefault.thumbnail .caption {
    border: 0 none;
    bottom: 5px;
    left: 5px;
    position: absolute;
    
     background: none repeat scroll 0 0 #000000;
    color: #FFFFFF;
    opacity: 0.6;
}