.adminpage.pagewrapper {
	padding: 10px;
}

.adminpage .row {
	width:100%;
}
.adminpage .btn {
	cursor: pointer;
}

/** product page **/
.adminpage.productpage .allProductDiv {
	border: 1px #aaa solid;
}
.adminpage.productpage .row.even {
	background: #ddd;
}

.adminpage.productpage .row.titleRow{
	font-weight:bold;
	font-size:14px;
	color: white;
	background: #aaa;
}

.adminpage.productpage .col {
	display:inline-block;
	padding:5px;
	margin:5px;
	font-size: 13px;
}

.adminpage.productpage .col.id {
	width: 20px;
}
.adminpage.productpage .col.suk {
	width: 300px;
}
.adminpage.productpage .col.title {
	width: 400px;
}
.adminpage.productpage .col.active {
	width: 30px;
}
.adminpage.productpage .col.btns {
	width: 70px;
}

.adminpage.productpage .editProductDiv {
	width:100%;
}

.adminpage.productpage .eSukLabel {
	padding: 5px;
	font-size:12px;
	font-weight:bold;
}
.adminpage.productpage .eSukBox {
	padding: 5px;
	width:280px;
	
}
.adminpage.productpage .eTitleLabel {
	padding: 5px;
	font-size:12px;
	font-weight:bold;
}
.adminpage.productpage .eTitleBox {
	padding: 5px;
	width:380px;
}

.adminpage.productpage .eActiveBox {
	padding: 5px;
	width:30px;
}

.adminpage.productpage .editBtn {
	padding:5px;
}

.adminpage.productpage .cancelBtn {
	padding:5px;
}

