.adminpage.pagewrapper {
	padding: 10px;
}

.adminpage .row {
	width:100%;
}
.adminpage .btn {
	cursor: pointer;
}

/** product page **/
.adminpage.productpage .allProductDiv {
	border: 1px #aaa solid;
}
.adminpage.productpage .row.even {
	background: #ddd;
}

.adminpage.productpage .singleRowDiv.even {
	background: #ddd;
}

.adminpage.productpage .row.titleRow{
	font-weight:bold;
	font-size:14px;
	color: white;
	background: #aaa;
}

.adminpage.productpage .col {
	display:inline-block;
	padding:5px;
	margin:5px;
	font-size: 13px;
}

.adminpage.productpage .col.id {
	width: 20px;
}
.adminpage.productpage .col.suk {
	width: 300px;
}
.adminpage.productpage .col.title {
	width: 400px;
}
.adminpage.productpage .col.active {
	width: 50px;
}
.adminpage.productpage .col.btns {
	width: 50px;
}

.adminpage.productpage .editProductDiv {
	width:100%;
}

.adminpage.productpage .eSukLabel {
	padding: 5px;
	font-size:12px;
	font-weight:bold;
}
.adminpage.productpage .eSukBox {
	padding: 5px;
	width:280px;
	
}
.adminpage.productpage .eTitleLabel {
	padding: 5px;
	font-size:12px;
	font-weight:bold;
}
.adminpage.productpage .eTitleBox {
	padding: 5px;
	width:380px;
}

.adminpage.productpage .eActiveBox {
	padding: 5px;
	width:50px;
}

.adminpage.productpage .editBtn {
	padding:2px;
	
}

.adminpage.productpage .cancelBtn {
	padding:2px;
}

.adminpage.productpage .attrs_wrapper {
	padding: 0 0 0 100px;
}
.adminpage.productpage .attrs_wrapper .attr_type_wrapper {
	min-height: 23px;
	border-bottom: 1px black solid;
}

.adminpage.productpage .attrs_wrapper .attr_wrapper{
	width: 100%;
	padding: 4px 0;
	border-top: 1px #ccc solid;
}
.adminpage.productpage .attrs_wrapper .attr_wrapper .attr_name {
	width: 200px;
	vertical-align: top;
}


