/* www.colourlovers.com/palette/3056776/Pride_Joy */
/* http://www.colourlovers.com/palette/3056750/Gray_Bed */
body {
    font-family: "Source Sans Pro","Helvetica Neue","HelveticaNeue",Helvetica,Arial,"Lucida Grande",sans-serif;
    background: url("images/bg.png") repeat scroll 0 0 #FFFFFF;
    color: #333333;
    padding: 0px;
    margin: 0px;
}

.inlineblock{
    display: inline-block;
}

.block{
	display:block;
}	

.hidden {
    display: none;
}
.padding5 {
	padding: 5px;
}
.padding4 {
	padding: 4px;
}
.fullwith {
	width:100%;
}
.rdcrnr {
	border-radius: 5px;
}
.cursorpntr {
	cursor: pointer;
}
.lightBrdr {
	border: 1px #cccccc solid;
}

.rdcrnrfirst {
	border-radius:5px 0 0 5px;
}
.rdcrnrlast {
	border-radius: 0 5px 5px 0;
}
.button {
	background: #1C5A80;
	color: white;
	padding: 6px;
	margin: 0px;
	border: none;
	box-shadow: 0px 0px 2px 0px #000000;
	cursor: pointer;
}
.button:hover {
	background-color: #ADD8E6;
    color: #000080;
    box-shadow: none;
}

.upperTxt {
	text-transform: uppercase;
}

.capTxt {
	text-transform: capitalize;
}

.errmsg {
	color: red;
	text-shadow: purple;
}

.smalltxt {
	font-size: 10px;
}

ul.btn-group {
	list-style: none;
	margin: 0px;
    overflow: hidden;
    padding: 0;
}

ul.btn-group li {
	float: left;
}

a {
    text-decoration: none;
    color:inherit;
}

.contentwrapper {
    width: 960px;
    padding: 20px;
    margin: 0 auto;
}

.header {
    box-shadow: none;
    border-bottom: #3A3A3A 8px solid;
    background: #ffffff;
}
.header .contentwrapper {
    height: 260px;
    background: transparent url("images/backgroundImage.png") no-repeat right bottom;
    vertical-align: bottom;
    padding-top: 0px;
}

.header .systemtitle {
    padding: 20px 0 0 0;
    color: #002A5C;
    font-size: 45px;
    font-weight: bold;
}
.header .topmenu {
    background: #1C5A80;
    border-radius: 5px;
    color: white;
    padding: 8px;
    width: 40%;
    top: 30%;
    margin: 30px 0 0 0;
}

.header .topmenu .item a {
    width: 80px;
    height: 60px;
    padding: 2px;
    text-align:center;
    display: block;
    background: transparent url("images/quick_sprite.png") no-repeat 0 0;
    background-position: center 0px;
    color: white;
}
.header .topmenu .item a:hover {
    background-color: #ADD8E6;
    border-radius: 5px;
    color: #000080;
}
.header .topmenu .home a {
    background-position: center -989px;
}
.header .topmenu .user a {
    background-position: center -1914px;
}
.header .topmenu .help a {
    background-position: center -930px;
}

.menu {
    background: #3A3A3A;
    padding: 0 0 8px 0;
    color: #ffffff;
}
.menu .contentwrapper {
    padding: 0px;
}

.menu ul {
	list-style: none;
}

.menu ul li {
	float: left;
}

.menu ul li a {
	display: block;
	padding: 2px 6px;
}

.menu ul li a:hover {
	background: #999999;
}

.content .contentwrapper{
    min-height: 600px;
    background: #ffffff;
    box-shadow: 0px 0px 6px 0px #000000;
}

.footer {
    background: url("images/footer_bg.png") repeat scroll 0 0 #FFFFFF;
    min-height: 100px;
    padding: 10px 0 0 0;
    display: block;
    color: #999999;
}
.footer .copyright {
    vertical-align: bottom;
}
.footer .footerlogo {
    color: #ffffff;
    font-size: 34px;
    font-style: italic;
    float:right;
}

.pageWrapper {
	width: 100%;
}
.pageWrapper .left.sidebar {
	width: 20%;
	padding: 10px;
	vertical-align: top;
}
.pageWrapper .maincontent {
	width: 74%;
	padding: 10px;
	vertical-align: top;
} 


.sidebarmodule {
	display: block;
}
.sidebarmodule .sidebarmoduletitle {
	margin: 0px;
	padding: 4px 2px;
	background: #999999;
}
.sidebarmodule .sidebarmodulecontent {
	padding: 5px;
}